*{
    margin-top: 0;
}

#wrapper{
    width: 760px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #04a1bf;
    padding-bottom: 2%;
    letter-spacing: 0.2em;
    min-height: 785px;
}


.header h1{
    color: white;
    padding: 0% 0% 0%;
    font-weight: bolder;
    font-size: 5em;
} 

#first{
    margin-top: 10px;
    color: #FFCD5D;
    font-size: 1.3em;
}
#second {
    color: #51DF70;
    font-size: 1.3em;    
}
#third {
	color: #025F70;
    margin-bottom: 30px;
    font-size: 1.3em;
}
#userinput{
    border-radius: 5px;
	min-width: 65%;
	padding: 5px;
    border: 0px solid;
    height: 30px;
    font-size: 20px;
}
#userinput + input{
    border-radius: 5px;
	padding: 5px;
    border: 0px solid;
    height: 40px;
    width: 10%;
    font-size: 20px;
}

.list{
    margin: 30px 10px 10px;
    color: black;
}

.list ul{
    text-align: left;
    list-style: none;
    height: 10%;
    font-size: 1.4em;
    font-weight: 500;
}
.list li{
    display: block;
    margin: auto;
    padding: 3%;
    width: 80%;
    margin-left: 40px;
    margin-top: 20px; 
    background: #FFCD5D;
    border: 1px solid brown;
}
.list input[value="Delete"]{
    float: right;
    width: 15%;
    border: 0px solid red;
    font-size: 22px;
    color: whitesmoke;
    background: #025F70;
    border-radius: 10%;
}
.list input[value="Delete"]:after{
    clear: both;
    content: "";
    margin: 10px;
}
.list input[value="Delete"]:hover{
   opacity: 0.7;
}

